*{
  color: white;
}
a{

  text-decoration: none;
}

.vaner{
  border: none;
  padding-left: 4px;
}

.icon{
  float: right;
  padding: 16px;
}

.cap{
  padding: 16px 8px 8px 32px;
  font-weight: lighter;
}

.head{
  font-weight: bold;
  font-size: 24px;
  padding: 16px 8px 8px 32px;
}

.me_contents{
  background-color: #D9AFD9;
  background-image: -webkit-linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-image: -moz-linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-image: -o-linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  width: 100%;
  padding-top:20px;
}

.profile{
  background-color: rgba(97,126,218,0.3);
  height:200px;
  width: 90%;
  border-radius: 20px;
  top:20px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
}

.user_name{
  font-weight: bold;
  padding-bottom: 8px;
}

.blank1{
  height: 200px;
  width: 30%;
  float: left;
}

.profile:after{
  content: ".";
display: block;
height: 0;
font-size:0;
clear: both;
visibility:hidden;
}

.memo{
    background-color: rgba(97,126,218,0.3);
    height:400px;
    width: 90%;
    border-radius: 20px;
    top:20px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    font-size: 20px;
}
